.advantages {
  padding-bottom: 47.5px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.advantages-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.advantages-icon-wrapper {
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 70px;
  margin-bottom: 30px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantage-title {
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.advantage-desc {
  font-size: var(--main-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
